{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<title>Create Show</title>
<body>
<h3> Create a Show </h3>
<form class="form" method="post" class="center">
  {% csrf_token %}
  {{ form|crispy }}
  {% for message in messages %}

    <div class="alert alert-danger">
        <a class="close" href="#" data-dismiss="alert">×</a>
            {{ message }}
    </div>
  {% endfor %}
  <button class="btn btn-success" type="submit">Create</button>
  <a class="btn btn-danger" href="{% url 'select_show'%}">Cancel</a>
</form>
</body>
{% endblock %}
