{% load crispy_forms_tags %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <title>HOOF-N-WOOF</title>
</head>

<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-16">
            <h1 class="mt-2">Hoof-N-Woof</h1>
            <div class="row">
                
                
                <form action="{% url 'show_select' %}" method="post" class="form">
                    {% csrf_token %}
                    <button class="btn btn-sm btn-success" type="submit" >Select Show</button>
                </form>

                <form action="{% url 'logout' %}" method="post" class="form">{% csrf_token %}
                    <button class="btn btn-sm btn-danger" type="submit" >Log Out</button>
                </form>
            </div>
                <hr class="mt-0 mb-8">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
</body>

</html>
