{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<h2>Bill for {{name}} in combo {{combo_num}}</h2>
<div class="row">
    <form action="" method="post">
        {% csrf_token %}
        <!-- {{ form | crispy}} -->
        <!-- <button type="submit" class="btn btn-success" >Submit</button> -->
      <table class="table">
        <thead>
          <th>Class Name</th>
          <th>Registration Type</th>
          <th>Scratch</th>
        </thead>

        <tbody>
          {% for c in classes %}
            <tr>
              <td>
                {{ c.name }}
              </td>
              <td>
                Pre-Registered
                <!-- {{ form | crispy}} -->
              </td>
              <td>
                <a
                class="btn btn-primary btn-sm"
                href="{% url 'scratch' showdate=show_date combonum=combo_num%}?next={{request.path}}&cname={{c.name}}"
                name="scratch">
                <!-- cname=c.name
                combonum={{combo_num}} -->
                Scratch</a>
              </td>
            </tr>

          {% endfor %}
        </tbody>
      </table>

        <h4>Total Classes: {{ tot }}</h4>
        <h4>Total Price: ${{ price }}</h4>
        <a class="btn btn-primary btn-sm"
        href="{% url 'showpage' showdate=show_date%}">Return to Show Page</a>
    </form>
</div>
<!-- {{ form.media }} -->
{% endblock %}
