{% extends 'base.html' %} 
{% load crispy_forms_tags %}
{% block content %}
<h3>Edit Horse-Rider Combination</h3>

<div>
  <div><b>Rider:</b> {{ rider.name }}</div>
  <div><b>Horse:</b> {{ horse.name }}</div>
  <div><b>Number:</b> {{ num }}</div>

  <form class="form" action="{% url 'check_combo' num=num %}" method="post">
    {% csrf_token %} {{ combo_form | crispy }}
    <button
      type="submit"
      class="btn btn-success"
      href="{% url 'class_select' %}"
      name="add_class"
    >Register for a Class</button>
  </form>
  <br />
</div>
{% endblock %}
