<!DOCTYPE html>
<html lang="en">
<head>
  <title>Classes</title>
</head>
<body>
 <form method="POST" class="post-form">
  <h2>Select Classes:</h2>
  <input type="checkbox" name="c1" value="California Warm-Up"> California Warm-Up<br>
  <input type="checkbox" name="c2" value="Green Hunter/Pony"> Green Hunter/Pony<br>
  <input type="checkbox" name="c3" value="Thoroughbred Hunter"> Thoroughbred Hunter<br>
  <input type="checkbox" name="c1" value="Working Hunter"> Working Hunter<br>
  <input type="checkbox" name="c2" value="Child/Adult Equitation"> Child/Adult Equitation<br>
  <input type="checkbox" name="c3" value="Child/Adult Hunter"> Child/Adult Hunter<br>
  <input type="checkbox" name="c1" value="Child/Adult Equitation on Flat"> Child/Adult Equitation on Flat<br>
  <input type="checkbox" name="c2" value="Horse Pleasure, Adult"> Horse Pleasure, Adult<br>
  <input type="checkbox" name="c3" value="Showmanship"> Showmanship<br>
  <input type="checkbox" name="c1" value="Leadline"> Leadline<br>
  <input type="checkbox" name="c2" value="Pre-Short Stirrup"> Pre-Short Stirrup<br>
  <input type="checkbox" name="c3" value="Western Pleasure"> Western Pleasure<br>
  <input type="checkbox" name="c2" value="Child/Adult Equitation"> Horse Pleasure, Junior<br>
  <input type="checkbox" name="c3" value="Child/Adult Hunter"> Hunter Pony Pleasure<br>
  <input type="checkbox" name="c1" value="Child/Adult Equitation on Flat"> Pony Equitation on Flat<br>
  <input type="checkbox" name="c2" value="Horse Pleasure, Adult"> 4-H Pleasure<br>
  <input type="checkbox" name="c3" value="Showmanship"> Short Stirrup<br>
  <input type="checkbox" name="c1" value="Leadline"> Low Hunter<br>
  <input type="checkbox" name="c2" value="Pre-Short Stirrup"> Pony Equitation<br>
  <input type="checkbox" name="c3" value="Western Pleasure"> Pony Hunter<br>

  <center><input type="submit" value="Submit Classes" id="btn" /></center>
</form>

</body>
</html>