{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<h2>Show: <a href = "{% url 'showpage' show_date=date %}">{{showname}}</a></h2>
<h3>Class: {{class_num}}</h3>
 <div class="row">
    <form class="form" action="" method="post">
        {% csrf_token %}
        <!-- {{ form | crispy}} -->
        <!-- <button type="submit" class="btn btn-success" >Submit</button> -->
      <table class="table">
        <thead>
          <th>Combo</th>
          <th>Scratch</th>
        </thead>
         <tbody>
          {% for combo in combos %}
            <tr>
              <td>
                {{combo.num}}: {{combo.rider}}, {{combo.horse}}
              </td>
              <td>
                <button><a href="{% url 'delete_combo' show_date=date division_name=division_name class_num=class_num combo=combo.num %}">Remove</a></button>
              </td>
               <td>
                {{ form | crispy}}
               </td>
            </tr>
           {% endfor %}
        </tbody>
      </table>
     <a href="{% url 'select_rider' %}">Add a Combo</a>
     </form>
</div>
{% endblock %}