{% comment %} Responsible for presenting a popup form in which you can either add or edit a combo and then save the info
{% endcomment %}
<div class="modal fade" id="updateComboModal" tabindex="-1" role="dialog" aria-labelledby="comboModalTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="comboModalTitle"></h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            {% comment %} form wrapper {% endcomment %}

            <form class="form" method="post" id="updateComboForm">
                {% csrf_token %}

                {% comment %} The container for the actual form {% endcomment %}
                <div class="modal-body" id="formContainer">
                    {% include 'simple_form.html' %}
                </div>
                {% comment %} Cancel and Save Buttons {% endcomment %}
                <div class="modal-footer">
                    <button type="button" class="btn btn-warning" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-success" id="updateComboButton"></button>
                </div>
            </form>

        </div>
    </div>
</div>