{% extends 'base.html' %}



{% block content %}
<div class="content container">
    <div class="row">
        <div class="col-md-8">
          <form action="" method="post">
            <p>Name<input type="text" name="Name" value="{{name}}"></p>
            <p>Date<input type="text" name="Date" value="{{date}}"></p>
            <p>Location<input type="text" name="Location" value="{{location}}"></p>
            <input type="submit"/>
          </form>

        </div>
    </div>
</div>
{% endblock %}
