{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<h3>Horse Rider Combination </h3>

<div class="container=fluid">
    <div class="row">
        <div style="col-lg-6">
            <p> <b>Number:</b> {{ combo.num }} </p>
            <p> <b>Rider Name:</b> {{ combo.rider.name }} </p>
            <p> <b>Horse Name:</b> {{ combo.horse.name }} </p>
            <form class="form" action="{% url 'edit_combo' combo.num %}" method="post">
                {% csrf_token %}    
                {{ edit_form | crispy }}
                <button type="submit" name="edit" value="Edit" class="btn btn-success">Edit Information</button>
            </form>
        </div>

        <div class="col-lg-6">
            
            <form class="form" action="{% url 'edit_combo' combo.num %}" method="post">
                {% csrf_token %}    
                {{ class_selection_form | crispy }}
                {{ class_selection_form.media}}
                <button class="btn bn-default" name="add_class" value="Add" type="submit">Add Class</button>
                
            </form>

            <table class="table">
                <tr>
                    <thead>
                        <th scope="col">Class #</th>
                        <th scope="col">Class Name</th>
                        <th scope="col">Preregistered?</th>
                        <th scope="col">Remove</th>
                    </thead>
                </tr>
                <tbody>
                    {% for class in classes %}
                        <tr scope="row">
                            <td>{{class.number}}</td>
                            <td>{{class.name}}</td>
                            <td>N/A</td>
                            <td>
                            <form method="post" class="form" action="">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-sm btn-danger" name="remove_class" value="{{class.number}}">X</button>
                            </form>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <h4>Total Classes: {{ tot }}</h4>
            <h4>Total Price: ${{ price }}</h4>

            
        </div>
    </div>
</div>
{% endblock %}
