{% load static %}
<html>
    <head>
        <title>{{show_name}}</title>
    </head>
    <body>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                    {% block content %}
                        <h1>Show: {{show_name}}</h1>
                        <p>Date: {{show_date}}</p>
                        <p>Location: {{show_location}}</p>
                    {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>