{% extends 'base.html' %}
{% load static %}
{% load js %}
{% load crispy_forms_tags %}
{% block content %}
<h2> Combos </h2>

<body>
    <div class="container">

        {% comment %} search filter for each combo {% endcomment %}
        <p> <input class="form-control" id="search" type="text" placeholder="Search">
            <p>

                {% comment %} for adding a new combo, triggers modal popup {% endcomment %}
                <p><a class="btn btn-success" data-toggle="modal" data-target="#updateComboModal" data-op="add"
                        data-url="{% url 'add_combo' show_date=show_date%}">
                        + Add New Combo</a></p>


                {% comment %} table to hold all the combo records {% endcomment %}
                <table class="table table-hover table-striped table-bordered">
                    <thead class="bg-primary">
                        <th>

                        </th>
                        <th>
                            #
                        </th>
                        <th>
                            Rider
                        </th>
                        <th>
                            Horse
                        </th>
                        <th>
                            Contact
                        </th>
                        <th>
                            Email
                        </th>
                        <th>
                            Cell
                        </th>


                    </thead>

                    {% comment %} the main body of the table, containing each row and column {% endcomment %}
                    <tbody id="comboTable">
                        {% for combo in combos %}
                        {% include 'combo_row.html' %}

                        {% endfor %}

                    </tbody>
                </table>

                {% comment %} show a message if there are no combos {% endcomment %}
                {% if not combos %}
                <div class="alert alert-warning">
                    No combos currently exist. Feel free to add some.
                </div>
                {% endif %}

    </div>

    {% include 'combo_modal.html' %}

    <input class="btn btn-primary" type="hidden" id="formURL" data-url="{% url 'get_combo_form'  %}" />
</body>

{% comment %} pass Django variable " combos" to the javascript file {% endcomment %} <script>
    combos = "{{ combos | js | escapejs}}";
    combos = jQuery.parseJSON(combos);
</script>

{% comment %} bring in javascript file for performing extra dynamic functionality {% endcomment %}
<script src="{% static 'js/view_combos.js' %}" type="text/javascript">
</script>

{% endblock %}