{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}

<body>
      {% comment %} Display the show title {% endcomment %}
      <h3><a href="{% url 'view_show' show_date=date %}">Show: {{show_name}}</a> > Division: {{name}} <a style="font-size:16px;" href="{% url 'edit_division' show_date=date division_id=id %}">Edit</a></h3>
      {% comment %} Display the division title {% endcomment %}

      {% comment %} Show a list of all the classes {% endcomment %}
        <table class="table table-striped table-bordered">
          {% comment %} The column heads {% endcomment %}
          <thead class="table-success">
            <th>#</th>
            <th>Class</th>
            <th>Scratch</th>

          </thead>
          {% comment %} Each class {% endcomment %}
          <tbody>
            {% for class in classes %}
            <tr>
              <td>
                {{class.num}}
              </td>
              <td>
                <a href="{% url 'view_class' show_date=date division_id=id class_num=class.num %}">{{ class.name }}</a>

              </td>

              <td>
                <a class="btn btn-danger"
                  href="{% url 'delete_class' show_date=date division_id=id class_num=class.num %}">X</a>
              </td>


              {% comment %} <td>
                {{ remove_form | crispy}}
              </td> {% endcomment %}
            </tr>
            {% endfor %}
          </tbody>
        </table>
        {% for message in messages %}
        <div class="alert alert-danger">
          <a class="close" href="" data-dismiss="alert">×</a>
          {{ message }}
        </div>
        {% endfor %}


  {% if form %}
  <h3> Add Another Class </h3>
  <form class="form-inline" method="POST">
    {% csrf_token %}
    {{ form | crispy}}
    <button type="submit" class="btn btn-success">Submit</button>
  </form>

  {% endif %}

  {% comment %} Button to view division scores {% endcomment %}

  <a href="{% url 'view_division_scores' show_date=date division_id=id %}" class="btn btn-dark text-white">View Division Scores</a>

  {% comment %} Delete division {% endcomment %}
  <a href="{% url 'delete_division' show_date=date division_id=id %}" class="btn btn-danger">Delete Division</a>

</body>
{% endblock %}
