{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<h2>Bill for combo {{combo_num}}: Rider {{name.name}} ({{name.email}})</h2>
<div class="row">
  <form method="post">
    {% csrf_token %}

    <table class="table">
      <thead>
        <th>Class Name</th>
        <th>Registration Type</th>
        <th>Scratch</th>
      </thead>

      <tbody>
        {% for c in classes %}
        <tr>
          <td>
            {{ c.participated_class.name }}
          </td>
          <td>{% if c.is_preregistered %}
            Pre-Registered
            {% else %}
            Day-of
            {% endif %}
            <!-- {{ form | crispy}} -->
          </td>
          <td>
            <a class="btn btn-primary btn-sm" href="{% url 'scratch_combo' show_date=show_date combo_num=combo_num%}?next={{request.path}}&cnum={{c.participated_class.num}}"
              name="scratch">Scratch</a>
          </td>
        </tr>

        {% endfor %}
      </tbody>
    </table>

    <h4>Total Classes: {{ tot }}</h4>
    <h4>Total Price: ${{ price }}</h4>
    <a class="btn btn-primary btn-sm" href="{% url 'view_show' show_date=show_date%}">Return to Show Page</a>
  </form>
</div>
<!-- {{ form.media }} -->
{% endblock %}