{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}

<div class="content container">
  <div class="row">
    <div class="col-md-8">
    {% comment %} Display the show title {% endcomment %}
      <h2>Show: <a href="{% url 'view_show' show_date=date %}">{{show_name}}</a></h2>
      {% comment %} Display the division title {% endcomment %}
      <h4>Division: {{name}}</h4>
      {% comment %} Show a list of all the classes {% endcomment %}
      <div class="row">
       
          <table class="table">
          {% comment %} The column heads {% endcomment %}
            <thead>
              <th>#</th>
              <th>Class</th>
              <th>Scratch</th>
              <th>Edit</th>
            </thead>
            {% comment %} Each class {% endcomment %}
            <tbody>
              {% for class in classes %}
              <tr>
                <td>
                  {{ class.num }}
                </td>
                <td>
                  {{class.name}}
                </td>
                <td>
                <a href="{% url 'delete_class' show_date=date division_name=name class_num=class.num %}" >Scratch</a>
                </td>
                <td>
                  <a href="{% url 'view_class' show_date=date division_name=name class_num=class.num %}">Edit
                      Class</a>
                </td>
                <td>
                  {{ remove_form | crispy}}
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
 
      </div>
    </div>
  </div>
  {% for message in messages %}

  <div class="alert alert-success">
    <a class="close" href="#" data-dismiss="alert">×</a>

    {{ message }}


  </div>
  {% endfor %}
  {% if form %}
    <form method="POST">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Add Class</button>
    </form>
  {% endif %}

</div>
{% endblock %}

