{% extends 'base.html' %}





{% load crispy_forms_tags %}
{% block content %}
<h2> Riders </h2>

<body>
<div class="container">

  <p> <input class="form-control" id="searchLastName" type="text" placeholder="Search"> <p>

    {% comment %} for adding a new rider, triggers modal popup {% endcomment %}
<p><a class="btn btn-success" data-toggle="modal" data-target="#addRiderModal">
  + Add New Rider</a></p>


  {% comment %} table to hold all the rider records {% endcomment %}
  <table class="table table-hover table-striped table-bordered">
    <thead class="bg-info">
      <th>
        Edit/Remove
      </th>
      <th>
        Last Name
      </th>
      <th>
        First Name
      </th>
      <th>
        Email
      </th>
      <th>
        Address
      </th>
      <th>
        City
      </th>
      <th>
        State
      </th>
      <th>
        Zip Code
      </th>
      <th>
        Adult
      </th>
      <th>
        Birth Date
      </th>
      <th>
        Member VHSA
      </th>
      <th>
        Member 4H
      </th>
      <th>
        County
      </th>
      
    </thead>

    <tbody id="riderTable">
      {% for rider in riders %}
        <tr id="rider-row-{{rider.pk}}">
          <td> 
            <a href="{% url 'edit_rider' rider_pk=rider.pk %}" class="btn btn-warning"><i class="fa">&#xf044;</i></a> 
            <a id="rider-delete-{{rider.pk}}" href="{% url 'delete_rider' rider_pk=rider.pk %}" class="btn btn-danger">X</a>
          </td>
          <td> {{rider.last_name}} </td>
          <td> {{rider.first_name}} </td>
          <td> {{rider.email}} </td>
          <td> {{rider.address}} </td>
          <td> {{rider.city}} </td>
          <td> {{rider.state}} </td>
          <td> {{rider.zip_code}} </td>
          <td> {{rider.adult}} </td>
          <td> {{rider.birth_date}} </td>
          <td> {{rider.member_VHSA}} </td>
          <td> {{rider.member_4H}} </td>
          <td> {{rider.county}} </td>
          
        </tr>
        
      {% endfor %}
      
    </tbody>
  </table>

  

</div>


<!-- Add Rider Modal Dialog -->
<div class="modal fade" id="addRiderModal" tabindex="-1" role="dialog" aria-labelledby="riderModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="riderModalTitle">Add Rider</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body ">
        <form id="addRiderForm" class="form" method="post">
           {% csrf_token %}
           {{ add_rider_form | crispy}}
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" id="addRiderButton">Add Rider</button>
      </div>
    </div>
  </div>
</div>
</body>

{% comment %} provides filtering for the rider table {% endcomment %}

 <script>
$(document).ready(function(){
  $("#searchLastName").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#riderTable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});

{% comment %} adds a new rider {% endcomment %}
$(document).ready(function(){
  $("#addRiderButton").click(function(){
    $.post("{% url 'add_rider2' %}",
    $("#addRiderForm").serialize(), function() {
      location.reload();
      $("#addRiderForm").reset();
    });
  });
});

{% comment %} click to edit rider {% endcomment %}
$(document).ready(function(){
  $("#rider-row-{{rider.pk}}").click(function(){
    $.post("{% url 'add_rider2' %}",
    $("#addRiderForm").serialize(), function() {
      location.reload();
      $("#addRiderForm").reset();
    });
  });
});

{% comment %} click to delete rider {% endcomment %}
{% for rider in riders %}
  $(document).ready(function(){
    $("#rider-delete-{{rider.pk}}").click(function(){
      $.get("{% url 'delete_rider' rider_pk=rider.pk %}",
      function() {
        $("#riderTable").load(location.href + " #riderTable");
    
      });
    });
  });
{% endfor %}


</script> 


{% endblock %}

{% comment %} Code for accordian  {% endcomment %}

{% comment %} <div class="accordion" id="rider-accordian">
  <div class="card">

  
  {% for rider in riders %}
    <div class="card-header bg-primary" id="heading-for-{{rider.pk}}">
      <h2 class="mb-0">
        <button class="btn btn-primary btn-block" type="button" data-toggle="collapse" data-target="#collapse-{{rider.pk}}" aria-expanded="true" aria-controls="collapse-{{rider.pk}}">
          {{rider.last_name}}, {{rider.first_name}} 

          
        </button>
      </h2>
    </div>

    <div id="collapse-{{rider.pk}}" class="collapse show" aria-labelledby="heading-for-{{rider.pk}}" data-parent="#rider-accordian">
      <div class="card-body">
        <table class="table table-bordered">
          <tbody>
            <tr>
              <td>Email</td>
              <td>{{rider.email}}</td>
            </tr>
            <tr>
              <td>Birth Date</td>
              <td>{{rider.birth_date}}</td>
            </tr>
            <tr>
              <td>City</td>
              <td>{{rider.city}}</td>
            </tr>
            <tr>
              <td>State</td>
              <td>{{rider.state}}</td>
            </tr>
            <tr>
              <td>Zip Code</td>
              <td>{{rider.zip_code}}</td>
            </tr>
            <tr>
              <td>County</td>
              <td>{{rider.county}}</td>
            </tr>
          </tbody>
        </table>
        
      </div>
    </div>
  </div>

  {% endfor %}


 </div> {% endcomment %}