language: python

python:
  - "3.5.1"

install:
  - pip3 install Django==2.1
  - pip3 install django-autocomplete-light

script:
  - python3 src/newenv/horseshow-proj/manage.py makemigrations
  - python3 src/newenv/horseshow-proj/manage.py migrate
  - python3 src/newenv/horseshow-proj/manage.py test

sudo: false
